{{ define "head" }}
  <meta property="og:type" content="website" />
  <script src="cubes.js" defer></script>
{{ end }}

{{ define "main" }}
  <div class="relative">
    <canvas id="canvas" class="fixed -z-10"></canvas>
    <div class="z-0">
      <div class="font-bold text-center font-mono py-10 text-gray-500">&lt;webpage&gt;</div>

      <div class="max-w-4xl mx-auto px-5 pb-4">
        <header class="pt-28 sm:pt-36">
          <small class="block text-xs uppercase font-bold tracking-wider text-gray-500 dark:text-gray-400">
            Welcome to my website
            <span class="text-sm"> 👋</span>
          </small>
          <h1 class="text-4xl sm:text-6xl font-extrabold text-gray-900 dark:text-gray-200">
            Hi! I’m Jason Liang
          </h1>
          <p class="text-gray-500 dark:text-gray-400 pt-3 sm:pt-4 text-lg sm:text-xl max-w-xl leading-relaxed">
            I like learning about web, UI, and graphics. My hobbies include guitar, video games, and sleeping.
          </p>
        </header>
        <main class="pt-40 sm:pt-48">
          <h2 class="font-extrabold text-4xl text-gray-900 dark:text-gray-200">Words</h2>
          <ul class="pt-4 sm:pt-5 grid">
            {{ range .Posts }}
              <li class="-my-1 -mx-4">
                <a
                  class="rounded-lg px-4 py-4 block transition motion-reduce:transition-none motion-reduce:transform-none hover:translate-x-0.5 hover:bg-gray-200/50 dark:hover:bg-black/50"
                  href="{{ .Name }}.html"
                >
                  <time
                    class="text-gray-600 dark:text-gray-400 inline-block w-40"
                    datetime="{{ timeParse "2006-01-02" "2006-01-02T15:04:05-0700" .Date }}"
                    itemprop="datePublished"
                  >
                    {{ timeParse "2006-01-02" "January 2, 2006" .Date }}
                  </time>
                  <h3 class="inline-block font-medium">{{ .Title }}</h3>
                </a>
              </li>
            {{ end }}
          </ul>
          <h2 class="font-extrabold text-4xl text-gray-900 dark:text-gray-200 pt-16">Projects</h2>
          <p class="text-gray-600 dark:text-gray-400 pt-4 sm:pt-5 text-md sm:text-lg max-w-xl leading-relaxed">
            All of my projects listed here are on my
            <a
              class="p-0.5 -m-0.5 rounded text-gray-900 dark:text-gray-100 hover:text-white dark:hover:text-gray-900 hover:bg-gray-800 dark:hover:bg-gray-100 underline hover:no-underline"
              href="https://github.com/jasonliang-dev"
            >GitHub</a> profile.
          </p>
          <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-5 gap-y-6 pt-10">
            {{ range .Site.projects }}
              <li class="
                group w-full max-w-sm mx-auto block transition-transform motion-reduce:transition-none motion-reduce:transform-none transform hover:-translate-y-0.5 rounded-xl overflow-hidden block bg-gradient-to-br shadow-lg hover:shadow-xl
                {{ .classname }}
              ">
                <a class="h-full block" href="{{ .source }}">
                  <img
                    class="opacity-75 group-hover:opacity-100 transition-opacity motion-reduce:transition-none motion-reduce:transform-none object-cover h-32 w-full"
                    src="{{ .image }}"
                    alt="{{ .title }}"
                  />
                  <div class="p-4">
                    <h3 class="text-lg leading-tight font-bold text-shadow text-gray-50 dark:text-gray-100">
                      {{ .title }}
                    </h3>
                    <p class="pt-1.5 font-medium text-shadow">
                      {{ .description }}
                    </p>
                  </div>
                </a>
              </li>
            {{ end }}
          </ul>
        </main>
      </div>

      <div class="font-bold text-center font-mono py-10 text-gray-500">&lt;/webpage&gt;</div>
    </div>
  </div>
{{ end }}
